@page
@model BlogEngineClone.Areas.Blog.Pages.PostModel
@{
}


<div>
    <a>

    </a>


    <p>
        Post and shit html shit

    </p>
</div>


<div>
    <p>
        Comment hay cc gi do tui bay tu them vao
    </p>
</div>


@*
    Tao function Load comment hay tao comment cc gi do o duoi nay
    cho luu data thi tuy tui bay
    luu vao db hay luu vao thu muc rieng thi tuy tui bay
*@
<script>
    function Createcomment
    function editcomment
    function deletecomment
    neu nhu ma userrole = blogger thi them nut sua cho no hien ra 
    cai nay xai JS bth la duoc
    con chuc nang sua voi xoa bai viet thi tui bay dung ben api
    tui bay thich thi tao them thu muc co gi up len git cua t
    (3 cai nay chi userrole = blogger moi thay)
    function editPost
    function savePost
    function CreatePost


    function SearchPost
    va 1 cai gi do de random bai viet thi tuy tui bay khoi them cung duoc

    

    


</script>