@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <a href="Identity/Account/Login">Login</a>
    <a href="Identity/Account/Logout">Logout</a>
    <a href="Identity/Account/Register">Register</a>

    <p>
        This is version 0.1
    </p>

    <button type="submit" asp-action="follow">

    </button>

    <button type="submit" asp-action="Current">
        <span>
            Get current user
        </span>
    </button>

    @if(User.Identity.IsAuthenticated)
    {
        @User.Identity.Name;
        @User.Identity;
    }
    else
    {
        <p>Please Log in</p>
    }
    <p id="paragraph">

    </p>
    <p id="token">

    </p>
</div>

<script>
    testAPI(); //call function in view
    //api controller define methods in Iactionresult as return and return Ok returns value in json
    async function testAPI() {
        const response = await fetch('/api/User/Current'); // call method in API in async
        const data = await response.json(); //convert data return from method in api control
        console.log(data); //return the value to console
        var htmlstring = "123456";
        var paragraph = document.getElementById("paragraph");
        paragraph.innerHTML += htmlstring;


    }
    






</script>


